* {
  font-family: "Roboto";
}

.cell-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cell-controls {
  margin-bottom: 2rem;

  button {
    margin-right: 2rem;
  }
}

.app-debug {
  border: 1px solid black;
  padding: 3rem 2rem 2rem 2rem;
  margin-bottom: 2rem;
  position: relative;

  .debug-title {
    position: absolute;
    top: 10px;
    left: 20px;
    font-weight: bold;
  }
}
